:root {
  --mainColor: #46344e;
  --secondatyColor: #382a3f;

  --borderColor: #1d1520;

  --mainText: #fff;
  --secondaryText: rgb(224, 222, 222);
  --themeDotBorder: white;
  --previewBg: rgb(29, 21, 32, 0.8);
}
